<div>
    <label for="password">Password:</label>
    <input type="password" name="password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
</div>

<input type="submit" class="ghost-button" value="Update">



</form>
</fieldset>
</div>
</body>

</html>